
 .logo .img{
    width: 110px;
    margin-left: 25px;
    padding: 0;
 }
 .Nav{
    font-size: 18px;
    font-weight: 500;
}
.icon-user{
    margin-right: 20px;
    width: 80px;
   color: #07a79d;
}
.icon-user i{
  font-size: 22px;
  color: #07a79d;
}
.icon-user i:hover{
    color: black;
}
.toggle{
    width: 120px;
    padding: 5px 20px;
   
}


/* Nav.css */
.dropdown .dropdown-toggle{
    background-color: #07a79d;
}
.dropdown-menu {
    background-color: #f8f9fa; /* Light gray background for testing */
  }
  

@media (max-width: 576px) {
    .logo .img{
        width: 100px;
        height: auto;
    }
  
    .toggle {
        width: 80px;
        padding: 5px ;
    }
    .icon-user{
       width:80px;
      
    }
    .icon-user i{
        margin-right: 5px;
       font-size: 21px;
       color: #07a79d;
       
    }
    .Nav{
        font-size: 20px;
        font-weight: 500;
    }
    .dropdown .dropdown-toggle{
       margin-left: 30px;
       padding: 5px;
       border-radius: 30px;

    }
}
