.all-mentor-course-container {
  padding: 20px;
}

.course-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
  gap: 20px; /* Space between cards */
}

.course-card {
  width: 100%;
  max-width: 300px; /* Optional: set max width for responsiveness */
  overflow: hidden;
}

.course-card .btn {
  margin-right: 5px;
}

.course-card img {
  width: 100%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .course-grid-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 992px) {
  .course-grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 576px) {
  .course-grid-container {
      grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}

.social-links a {
  margin-right: 10px;
}

  /* deatails videos  */
  .course-details-container {
    padding: 20px;
  }
  
  .course-details-content {
    display: flex;
  }
  
  .course-info {
    padding-right: 20px;
    flex: 3;
  }
  
  .course-videos {
    padding-left: 20px;
    flex: 1;
  }
  
  .video-player iframe {
    width: 400px;
    height: 200px;
  }
  
  .video-item {
    margin-bottom: 20px;
  }
  
  .video-actions {
    margin-top: 10px;
  }
  
  .video-actions .btn {
    margin-right: 5px;
  }
  
  /* design for all instruction page */
  /* AllInstructions.css */

.instruction-card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #eee;
}

.instruction-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.60);
}

.instruction-card .btn-custom-delete {
  width: 100%;
  border-radius: 30px;
}

.card-title {
  color: #007bff;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.card-text {
  line-height: 1.5;
  color: #333;
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-custom-delete {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
}

.btn-custom-delete:hover {
  background-color: #e60000;
}
.btn-custom-show-service {
  width: 100%;
  border-radius: 30px;
}

.btn-custom-delete {
  margin-right: 10px;
}
/* all book design   */

