.card-total {
  margin: 20px 0;
}

.card-service {
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  padding: 15px;
}

.custom-button {
  border-radius: 20px;
}

.btn-service {
  background-color: #07a79d;
  border-radius: 20px;
}

.intro-section h2 {
  font-size: 2rem;
}

.intro-section ul li {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
