.card-service{
    width:100%;
    height:350px;
    border-radius: 10px;
    margin: 20px 8px;
    
    

}

.button-card{
    margin-top: 90px;
    align-items: center;

}
.button-card Button{
    margin-top: 20px;
    margin: 5px;
    
}
.text-muted{
    padding-top: 20px;
}

.button-card{
    border-color: black;
    color: #07a79d;
  }
.button-card :hover{
 background-color:#07a79d;
 border-color: black;
}