
.instructor{
  margin-left:90px;
}
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
  .card img{
    width: 100%;
    max-width: 170px;
    border-radius:10px;
    overflow: hidden;
    margin-top: 20px;
   background-size: cover;


  
  }
  .text-center-instructor{
    font-size: 40px;
    font-weight: 600;
  }
  .card-image{
  background-size: cover;
   margin: 20px auto; 
  
  }
  .btn-card{
    background-color: #eee;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px;
    margin: 10px;
    align-items: center;
    
  }
  .btn-card:hover{
    background-color: #07a79d;
    color: #fff;
    transition:0.3;
  }
  .location-icon{
    padding-left: 15px;
  }
  .location{
    margin: 25px;
  }
  .text-location{
    font-size: 15px;
    background-color: #eee;
    padding: 10px 30px;
    border-radius: 10px;
  
  }
 
  .card{
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-left: auto;
  margin-right: auto;
  }
  .btn-more{
    text-align: center;
    margin: 50px;
   
  }
  .btn-more-dir{
    padding: 8px 60px ;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
  }
  .btn-more-dir:hover{
    background-color: #07a79d;
    color: #fff;
  }
 @media (max-width: 576px) { 
    .btn-card{     
        margin:10px 20px;
    }
  
  .heading{
    margin-bottom: 20px;

    }
    .instructor-section{
      padding-top: 30px;
      padding: 10px;
      
      
    }
    
   

  

}
