/* right page design  */
.img-thumbnail{
    border-radius: 50%;
    width: 80%;
    height: 80px;
    background-position: center;
    background-size: cover;
}
.text-dashboard-title{
    display: flex;
    margin: 10px;
}

/* design for contact us  */
.form-page {
    margin-top: 20px;
  }
  
  .btn-contact {
    width: 100%;
  }
  
  .card {
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  